.movie1{
    width: 200px;
    background-color: rgb(37 , 37 , 37);
    padding: 20px;
    border-radius: 5px;
    margin-left: 8px;
}

.movie1 img{
    display: block;
    width: 100%;
    margin: auto;
    height: 250px;
}

.movie1 button{
    display: block;
    /* width: 100%;  */
    /* margin: auto; */
    
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 3px;
    padding: 4px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: bolder;
    padding: 7px;
    /* color: white; */
    /* height: 250px;  */
}

.button1{
    color: #5799ef;
    width: 100%;
    background: rgba(133, 124, 124, 0.377);
    /* background: pink; */
    margin-top: 10px;
    
}

.button2{
    color: white;
    background: transparent;
    margin: 5px auto 0 auto;

    
}

.movie1 button:hover{
    background: rgba(133, 124, 124, 0.577);
}